<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
<h1>Weather Data API</h1>
<b> URL format: </b>
    <pre>
        http://127.0.0.1:5000/api/v1/station/date
        http://127.0.0.1:5000/api/v1/station
        http://127.0.0.1:5000/api/v1/annual/station/YYYY
    </pre>
<b> Examples: </b>
    <pre>
        - to get data per station for a certain date: http://127.0.0.1:5000/api/v1/10/1988-10-25
        - to get all data per station: http://127.0.0.1:5000/api/v1/10
        - to get data per station per year: http://127.0.0.1:5000/api/v1/annual/10/1988
    </pre>
<p>{{data|safe}}</p>
</body>
</html>